<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>www.ecommers.com</title>
        <link rel="stylesheet" href="style.css">
       
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="./images/logo.png" width="125"> 
                </div>
                <nav>
                    <ul id="menueItems">
                        <li><a href="new.html">HOME</a></li>
                        <li><a href="procduct.html">PRODUCT</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="account.html">PROFILE</a></li>
                    </ul>
                </nav>
                <a href="cart.html"><img src="./images/cart.png" width="30" height="30"></a>
                <img src="./images/menu.png" class="menu" onclick="menutoggle">     
            </div>
        </div>
    
<br><br>
<div class="small cart-page">
    <table>
        <tr>
            <th>product</th>
            <th>QNT</th>
            <th>Subtotal</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="proc-2.jpg.webp">
                    <div>
                        <p>Lenovo laptop 8GB RAM Intel i5 core</p>
                        <small>price :₹1000</small>
                        <a href="">REMOVE</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>₹1000</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="proc-3.jpg.webp">
                    <div>
                        <p>HP 6GB RAM Intel i3 core</p>
                        <small>price :₹2000</small>
                        <a href="">REMOVE</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>₹2000</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="proc-1.jpg.jpg">
                    <div>
                        <p>DELL laptop 4GB RAM Intel i7 core</p>
                        <small>price :₹4000</small>
                        <a href="">REMOVE</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>₹4000</td>
        </tr>
    </table>
    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>₹7000</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>₹1000</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>₹8000</td>
            </tr>
        </table>
    </div>
</div>

         <div class="brands">
             <div class="small">
                 <div class="row">
                     <div class="col-5">
                         <img src="log-1.png" >
                     </div>
                        <div class="col-5">
                            <img src="log-2.png" >
                        </div>
                            <div class="col-5">
                                <img src="log-3.png" >
                            </div>
                                <div class="col-5">
                                    <img src="log-4.png" >
                                </div>
                                    <div class="col-5">
                                        <img src="upi.webp" >
                                    </div>
                                
                                </div>
                                </div>
                             </div>

          <div class="footer">
              <div class="container">
                  <div class="row">
                      <div class="footer-col-1">
                          <h3>Download our App</h3>
                          <p>Download APP for Android and IOS mobile phone </p>
                          <div class="app-logo">
                              <img src="./images/play-store.png">
                              <img src="./images/app-store.png">
                          </div>
                      </div>
                      <div class="footer-col-2">
                        <img src="./images/logo-white.png">
                        <p>Flipkart Internet Private Limited,Buildings Alyssa, Begonia & Clove Embassy Tech Village, </p>
                    </div>
                    <div class="footer-col-3">
                        <h3 class="add">HELP</h3>
                        <ul>
                            <li>payment</li>
                            <li>shipping</li>
                            <li>FAQ</li>
                            <li>cancellation & Return</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3 class="add">SOCIAL</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Youtube</li>
                        </ul>
                    </div>
                  </div>
                  <hr>
                  <p class="hl">universal-Store 2022 </p>
              </div>
          </div>                                        
                            
    </body>
</html>