<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>www.ecommers.com</title>
        <link rel="stylesheet" href="style.css">
       
    </head>
    <body>
        <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="./images/logo.png" width="125"> 
                </div>
                <nav>
                    <ul id="menueItems">
                        <li><a href="new.html">HOME</a></li>
                        <li><a href="procduct.html">PRODUCT</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="account.html">PROFILE</a></li>
                    </ul>
                </nav>
                <a href="cart.html"><img src="./images/cart.png" width="30" height="30"></a>
                <img src="./images/menu.png" class="menu">     
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>THE GREAT SHOPPING SITE,<br>UNIVERSAL SITE!</h1>
                    <p>50% offer you can get by puchase minimum 10000 rupees  </p>
                    <a href="" class="btn">Explore Now &#9755;</a>
                </div>
                <div class="col-2">
                    <img src="./images/image1.png">
                </div>
            </div> 
        </div>
    </div>
<br><br>
    <div class="cat">
        <div class="small">
            <div class="row">
                <div class="col-3">
                    <img src="cat-1.jpg.jpg" height="200">
                </div>
                <div class="col-3">
                    <img src="cat-2.jpg.jpg" height="200">
                </div>
                <div class="col-3">
                    <img src="cat-3.jpg.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="small">
        <h2 class="title"> products</h2>
  
        <div class="row">
            
            <div class="col-4">
                <img src="proc-1.jpg.jpg" height="250" width="250">
                <h4>LENOVO i5</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p>₹35000</p>
               </div>
               <div class="col-4">
                <img src="proc-2.jpg.webp" height="250" width="250" >
                <h4>INFINIX i3</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p>₹67000</p>
               </div>
               <div class="col-4">
                <img src="proc-3.jpg.webp" height="250" width="250">
                <h4>DELL i7 </h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p>₹42000</p>
               </div>
               <div class="col-4">
                <img src="proc-4.jpg.webp" height="250" width="250">
                <h4>HP intel core</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p>₹52000</p>
               </div>
            </div>
        <h2 class="title">Latest products</h2>
        <div class="row">
            <div class="col-4">
                <img src="proc-8.jpg.webp" height="250" width="250">
                <h4>REDMI 9A</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p>₹15000</p>
               </div>
               <div class="col-4">
                <img src="proc-5.jpg.webp" height="250" width="250" >
                <h4>REDMI 10</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p>₹17000</p>
               </div>
               <div class="col-4">
                <img src="proc-6.jpg.webp" height="250" width="250">
                <h4>XIAOMI 11I</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p>₹22000</p>
               </div>
               <div class="col-4">
                <img src="proc-7.jpg.webp" height="250" width="250">
                <h4>MI 11T 5G</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p>₹27000</p>
               </div>
         </div>

         <div class="offer">
             <div class="small">
                 <div class="row">
                     <div class="col-2">
                         <img src="boo.webp" height="350">
                     </div>
                     <div class="col-2">
                         <p>Exclusive Available on store </p>
                         <h1>boAt Rockerz 450</h1>
                         <small>The boAt Rockerz 450 allows you to enjoy pure
                            audio bliss with its extended nonstop playback time of 15 hours.<br></small>
                            <a href="" class="btn">Buy Now &#9755;</a>
                     </div>                 
                 </div>
             </div>
         </div>

         <div class="brands">
             <div class="small">
                 <div class="row">
                     <div class="col-5">
                         <img src="log-1.png" >
                     </div>
                        <div class="col-5">
                            <img src="log-2.png" >
                        </div>
                            <div class="col-5">
                                <img src="log-3.png" >
                            </div>
                                <div class="col-5">
                                    <img src="log-4.png" >
                                </div>
                                    <div class="col-5">
                                        <img src="upi.webp" >
                                    </div>
                                
                                </div>
                                </div>
                             </div>

          <div class="footer">
              <div class="container">
                  <div class="row">
                      <div class="footer-col-1">
                          <h3>Download our App</h3>
                          <p>Download APP for Android and IOS mobile phone </p>
                          <div class="app-logo">
                              <img src="./images/play-store.png">
                              <img src="./images/app-store.png">
                          </div>
                      </div>
                      <div class="footer-col-2">
                        <img src="./images/logo-white.png">
                        <p>Flipkart Internet Private Limited,Buildings Alyssa, Begonia & Clove Embassy Tech Village, </p>
                    </div>
                    <div class="footer-col-3">
                        <h3 class="add">HELP</h3>
                        <ul>
                            <li>payment</li>
                            <li>shipping</li>
                            <li>FAQ</li>
                            <li>cancellation & Return</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3 class="add">SOCIAL</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Youtube</li>
                        </ul>
                    </div>
                  </div>
                  <hr>
                  <p class="hl">universal-Store 2022 </p>
              </div>
          </div>                                        
                            
    </body>
</html>